body {
	/* width: 1540px; */
	font-size: 10px;
	font-family: Verdana;
	/* background: #E0D5B7 url(../img/page_bg.jpg) repeat-x; */
	color: #74653D;
	/* height: 181px; */
}

#wrapper {
	 /* margin: 0 auto; */
	 width: 1400px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#header {
	width: 1400px;
	height: 100px;
	color: #333;
	padding: 1px;
	float: left;
	position:relative; 
	border-top: 0px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	margin: 0px 0px 0px 0px;
}
#headerinleft {
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 90%;
	height: 100px;
	position: absolute;
	/*background: url(../img/Header_Arch.jpg);*/
	background-size: 100% 100%;
}
#headerinright {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100px;
	z-index: 10; 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#title{
	width: 1400px;
	color: #333;
	padding: 0px 0px 0px 0px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 70px;
	float: left;
	margin: 0px 0px 0px 0px;
	font-size: 20px;
	text-align: right;
	vertical-align: text-middle;
	font-family: Garamond, Helvetica, sans-serif;
}

#navigation {
	width: 1400px;
	color: #333;
	padding: 0px;
	border-top: 0px solid #ccc;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	margin: 0px 0px 0px 0px;
	#background: #E0D5B7 url(../img/page_bg_tr.jpg) repeat-y;
	background: -webkit-linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* FF3.6+ */
	background: -ms-linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* IE10 */
	background: -o-linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* Opera 11.10+ */
	background: linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* W3C */
}

#dashboard{
	width: 1400px;
	color: #333;
	/* border: 1px solid #ccc; */
	margin: 0px 0px 0px 0px;
	padding: 0px;
	height: 100;
}

#content {
	width: 1288px;
	border: 0px solid #ccc;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	height: 630px;
	/* left: auto; */
	/* margin-right: -56px; */
}
#contentleft {
	width: 150px;
	float: left;
}

#contentright {
}
#idClients{
	height: 60px;
	margin: 15px 0px 15px 0px;
}
#idDateFrom{
	margin: 25px 0px 0px 0px;
}

#footer { 
	width: 1400px;
	padding: 0px;
	border: 0px solid #ccc;
	margin: 0px 0px 0px 0px;
	float: left;
	height: 20px;
	background: -webkit-linear-gradient(30deg, #abbaab 10%, #ffffff 90%); /* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(30deg, #abbaab 10%, #ffffff 90%); /* FF3.6+ */
	background: -ms-linear-gradient(30deg, #abbaab 10%, #ffffff 90%); /* IE10 */
	background: -o-linear-gradient(30deg, #abbaab 10%, #ffffff 90%); /* Opera 11.10+ */
	background: linear-gradient(30deg, #abbaab 10%, #ffffff 90%); /* W3C */
	background: rgb(242,249,254);
			         
}

